<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<filter>
    <filter-name>CustomCharacterEncodingFilter</filter-name>
    <filter-class>filter.CustomCharacterEncodingFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>CustomCharacterEncodingFilter</filter-name>
    <url-pattern>/snutnytt</url-pattern>
</filter-mapping>

<servlet>
   <servlet-name>snutnytt</servlet-name>
   <servlet-class>servlets.SnutNytt</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>snutnytt</servlet-name>
  <url-pattern>/snutnytt</url-pattern>
</servlet-mapping>
</web-app>
